.vs
node_modules
**/bin
**/obj
*.csproj.user
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
package-lock.json

**/rgk_aspnet_converter
**/*.egg-info
**/build
!client/config/build

**/*.dll
**/*.pyd

api/temp
RGK_dist
*storybook.log
**/.storybook/static/**
!**/.storybook/static/readme.md
**/storybook-static

**/nginx

.idea
resources